<p id="notice"><%= notice %></p>
<% if can? :read, @company %>
<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>
    <% end %>

<% if can? :manage, @company %>
<%= link_to 'Edit', edit_company_path(@company) %> |
    <% end %>
<%= link_to 'Back', companies_path %>
