<%= form_for(@receipt, :html => { :multipart => true }) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :content_category %><br />
    <%= f.text_field :content_category %>
  </div>
  <div class="field">
    <%= f.label :contents %><br />
    <%= f.file_field :contents %>
  </div>
    <div class="field">
    <%= f.label :content_text %><br />
    <%= f.text_field :content_text %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date%>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
