<h1>Listing receipts</h1>

<table>
  <tr>
    <th>User</th>
    <th>Content category</th>
    <th>Contents</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @receipts.each do |receipt| %>
  <tr>
    <td><%= receipt.user_id %></td>
    <td><%= receipt.content_category %></td>
    <td><%= receipt.contents %></td>
    <td><%= receipt.date %></td>
    <td><%= receipt.amount %></td>
    <td><%= receipt.comment %></td>
    <td><%= link_to 'Show', receipt %></td>
    <td><%= link_to 'Edit', edit_receipt_path(receipt) %></td>
    <td><%= link_to 'Destroy', receipt, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% if can? :manage, User %>
<%= link_to 'Invite', new_user_invitation_path %>
<% end %>
<br />

<%= link_to 'New Receipt', new_receipt_path %>
