<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @receipt.user_id %>
</p>

<p>
  <b>Content category:</b>
  <%= @receipt.content_category %>
</p>

<p>
  <b>Contents:</b>
  <%= @receipt.contents %>
</p>

<p>
  <b>Date:</b>
  <%= @receipt.date %>
</p>

<p>
  <b>Amount:</b>
  <%= @receipt.amount %>
</p>

<p>
  <b>Comments:</b>
  <%= @receipt.comments %>
</p>


<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
