<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>Expenza</title>
 <%= stylesheet_link_tag "themes/pepper-grinder/jquery.ui.all.css" %>
  <%= javascript_include_tag  "jquery.js", "jquery-ui.js", "rails.js", "application.js", "jquery.layout.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container">
   <div id="user_nav">
      <% if user_signed_in? %>
          Signed in as <%= current_user.email %>. Not You?
          <%= link_to "Sign Out", destroy_user_session_path %>
      <% else %>
          <%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
         Or Use <%= link_to 'GMail', user_omniauth_authorize_path(:google_apps) %> to Login.
          <!--%= embed_rpx user_session_url %-->
      <% end %>
    <!--/div -->
  </div>
</div>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>
</div>
</body>
</html>
